.box-reinforce-list {

    width: 1000px;
    margin: 0 auto;
    display：table，text-align:center;
}
.box-reinforce-list .title {
    margin-top: 60px;
    font-size: 24px;
    color: #99a0b0;
    text-align: center;
    line-height: 80px;
}


.reinforce-list li {
    /*float: left;*/
    width: 320px;
    height: 220px;
    background-color: red;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    margin: 0 auto;
}
.reinforce-list li.custom {
    list-style: none;
    background: url(//gtd.alicdn.com/tps/TB1IOkXHVXXXXbhXpXXXXXXXXXX.png) -30px 75px no-repeat #9092e6;
}

.reinforce-list li {
    float: left;
    width: 320px;
    height: 220px;
    background-color: red;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}
.reinforce-list li .content {
    margin: 35px 0 0 100px;
    font-size: 14px;
}
.reinforce-list li.custom .c-t {
    display: block;
    width: 144px;
    height: 27px;
    background: url(http://g.alicdn.com/sd/mobi-aq/0.3.22/image/ucenter/reinforce-list.png) -14px -294px;
    margin-bottom: 18px;
}


.reinforce-list li .content .r-btn {
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 3px;
    color: #fff;
    margin-top: 25px;
}
a {
    text-decoration: none;
}
.reinforce-list li i {
    display: block;
    position: absolute;
}
.reinforce-list li .recommand-new {
    width: 80px;
    height: 85px;
    background: url(http://g.alicdn.com/sd/mobi-aq/0.3.22/image/ucenter/reinforce-list.png) -1px -199px;
    top: 0;
    right: 0;
}

.reinforce-list li i {
    display: block;
    position: absolute;
}
.reinforce-list li.custom .r-btn {
    color: #9092e6;
}